* {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
}

#search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#infographic {
  width: 900px;
}

.result {
  padding: 10px;
  background-color: whitesmoke;
  border: 1px solid #ccc;
}
.result:hover {
  cursor: pointer;
  background-color: lightgray;
}

/* legend */
.legend {
  white-space: nowrap;
  overflow-y: scroll;
  border: 1px solid black;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 50px;
}
.legend-bit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.degree {
  margin-top: -10px;
}

.temp-name {
  padding: 4px 12px;
  color: whitesmoke;
}
